[submodule "openjdkcm/jdk16u"]
	path = openjdkcm/jdk16u
	url = git@github.com:openjdk/jdk16u.git
[submodule "openjdkcm/jdk13u"]
	path = openjdkcm/jdk13u
	url = git@github.com:openjdk/jdk13u.git
	ignore = dirty
[submodule "openjdkcm/jdk9u"]
	path = openjdkcm/jdk9u
	url = git@github.com:openjdk/jdk9u.git
	ignore = dirty
[submodule "openjdkcm/jdk12u"]
	path = openjdkcm/jdk12u
	url = git@github.com:openjdk/jdk12u.git
	ignore = dirty
