<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="trace-file">./runtimes/logs/asmdemo</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingRandomAccessFile name="Trace" fileName="${trace-file}.log" filePattern="${trace-file}-%d{yyyy-MM-dd}-%i.log" bufferedIO="true">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
        <SizeBasedTriggeringPolicy size="100 KB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
   <Logger name="trial.java.asmdemo" level="trace" additivity="false">
      <AppenderRef ref="Trace"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>